# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
pubspec.lock

# IDEs
.idea/
.vscode/

# Android
android/.gradle/
android/app/build/

# macOS
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift

# Web
web/.dart_tool/

# Misc
*.log
*.tmp
*.swp